.navbar {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0px 25px 50px #878787;
}

footer {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0px -25px 50px #878787;
}

#resume_header,
#references_title,
#authors_title,
#project_title,
#projects_header {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0px -25px 50px #878787, 0px 25px 50px #878787;
}

a {
  color: var(--bs-body-color);
  text-decoration: none;
}

footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.card {
  margin-bottom: 4rem;
}

#btn-back-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
