.navbar {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0px 25px 50px #878787;
}

footer {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0px -25px 50px #878787;
}

#resume_header {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 0px -25px 50px #878787, 0px 25px 50px #878787;
}

footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}
