body {
  --color1: #12130f;
  --color2: #5b9279;
  --color3: #020887;
  --color4: #8f8073;
  --color5: #eae6e5;
  background-color: var(--color5);
}

hr {
  border: 2px solid black;
  display: none;
}

h1,
h2,
h4,
p,
address,
li {
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--color1);
}

h1 {
  color: var(--color1);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--color2);
}

h4 {
  color: var(--color3);
  font-size: large;
}

nav {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  border: 3px solid var(--color4);
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}

ul {
  display: block;
  margin-left: -10px;
}

ul li {
  display: block;
  position: relative;
}

ul li:not(:last-child) {
  margin-bottom: 16px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -0.9em;
  background: #f69ec4;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(45deg, #25503e, #faebd7);
}

a {
  color: #12130f;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--color3);
}

a:focus {
  color: var(--color2);
}

footer {
  text-align: center;
  margin: 0 auto;
}

footer img {
  padding: 10px;
  height: 35px;
}
